<div style="padding-top: 300px"></div>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-text color="primary">Unsere Quellen:</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div style="padding-top: 100px"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <a href="https://en.wikipedia.org/wiki/Sleeper_effect#Controversy_about_the_existence_of_a_%22sleeper_effect%22" target="_blank">
                <img src="assets/logos/wiki.png" alt="wikipedia">
                </a>
            </ion-col>
            <ion-col>
                <a href="https://www.jstor.org/stable/pdf/2745952.pdf?refreqid=excelsior%3Ad19bb455dbefb11ed13e3914520c34af" target="_blank">
                <img src="assets/logos/jstor.png" alt="jstor">
                </a>
            </ion-col>
            <ion-col>
                <a href="https://www.marcelkaffenberger.com/unterbewusstsein/" target="_blank">
                <img src="assets/logos/kaffenberger.png" alt="kaffenberger">
                </a>
            </ion-col>
            <ion-col>
                <a href="https://www.researchgate.net/publication/323825620_Der_Sleeper_Effekt/fulltext/5aac861aaca2721710f8aa5c/Der-Sleeper-Effekt.pdf" target="_blank">
                <img src="assets/logos/researchgate.png" alt="researchgate">
            </a>
            </ion-col>
            <ion-col>
                <a href="https://blog.hubspot.de/marketing/psychologie-im-marketing" target="_blank">
                <img src="assets/logos/hubspot.png" alt="hubspot">
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
