<div style="padding-top: 300px"></div>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-text color="primary">Unsere Quellen:</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div style="padding-top: 100px"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <a href="../html-link.htm">
                <img src="assets/logos/wiki.png" alt="wikipedia">
                </a>
            </ion-col>
            <ion-col>
                <img src="assets/logos/jstor.png" alt="jstor">
            </ion-col>
            <ion-col>
                <img src="assets/logos/kaffenberger.png" alt="kaffenberger">
            </ion-col>
            <ion-col>
                <a href="https://www.researchgate.net/publication/323825620_Der_Sleeper_Effekt">
                <img src="assets/logos/researchgate.png" alt="researchgate">
            </a>
            </ion-col>
            <ion-col>
                <a href="https://www.researchgate.net/publication/323825620_Der_Sleeper_Effekt">
                <img src="assets/logos/hubspot.png" alt="hubspot">
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
