ion-card{
  max-width: 90%;
}

ion-card-header{
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  margin: 0%;
  width: 100%;
  height: 100%;
}f

.card-img{
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
}

ion-card:hover{
  transition: all 250ms linear;
  transform: scale(1.01);
  box-shadow: 10px 10px 10px rgba(#000000, .4);
  ion-card-header{
    //padding: 0%;
    //margin: 0%;
    width: 100%;
    height: 100%;
  }
}

ion-card-title{
    color: white;
    margin-left: 10px;
}

ion-title {
    padding-top: 5px;
    color: white;
}

ion-col {
  padding-left: 20px;
  padding-right: 20px;
}