<div style="padding-top: 330px"></div>
<ion-content>
  <ion-grid>
    <ion-row>
    <ion-col>
      <ion-card>
      <ion-card-header>
          <img class="card-img" src="assets/avatar/andrey.jpg" alt="Andrey">
        <ion-card-title>Andrey Di Claudio</ion-card-title>
        <ion-title>Developer</ion-title>
      </ion-card-header>
      </ion-card>
    </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
              <img class="card-img" src="assets/avatar/fabian.jpg" alt="Fabian">
            <ion-card-title>Fabian</ion-card-title>
            <ion-title>Developer</ion-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
              <img class="card-img" src="assets/avatar/elias.jpg" alt="Elias">
            <ion-card-title>Elias Jurkeit</ion-card-title>
            <ion-title>Researcher</ion-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
              <img class="card-img" src="assets/avatar/vivien.jpg" alt="Vivien">
            <ion-card-title>Vivien</ion-card-title>
            <ion-title>Researcher</ion-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>