<ion-app>
    <ion-menu [disabled]="platform.width()>830" contentId="content" menuId="first" side="start">
      <ion-header>
        <ion-toolbar>
          <ion-title>Sleeper Effekt</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle *ngFor="let element of menuElements" auto-hide="true">
            <ion-item lines="none" [routerLink]="element.menuElementRouterLink" routerDirection="forward">
              <ion-icon [name]="element.menuElementIcon" slot="start"></ion-icon>
              {{element.menuElementName}}
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-header>
      <ion-toolbar>
        <ion-buttons *ngIf="platform.width()<830" slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-item class="toolbar-text" lines="none" [routerLink]="''" slot="start">Sleeper Effekt</ion-item>
        <ng-container *ngIf="platform.width()>830">
          <ion-col *ngFor="let element of menuElements" slot="start">
            <ion-item class="toolbar-nav" lines="none" [routerLink]="element.menuElementRouterLink">
              {{element.menuElementName}}
            </ion-item>
          </ion-col>
        </ng-container>
      </ion-toolbar>
      <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
          <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
        </div>
        <div class="waveWrapperInner bgMiddle">
          <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
          <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
        </div>
      </div>
    </ion-header>
  <ion-content [fullscreen]="true" class="content">
    <ion-router-outlet id="content"></ion-router-outlet>
  </ion-content>
</ion-app>
