@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: #1c7bca;
  padding-top: 300px;
  z-index: -1;
}

.secondWaveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: #1c7bca;
  padding-top: 100px;
  z-index: -1;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
}
.bgTop {
  z-index: -5;
  opacity: 0.5;
}
.bgMiddle {
  z-index: -10;
  opacity: 0.75;
}
.bgBottom {
  z-index: -15;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
  background-image: url("../assets/waves_top/wave-top.png");
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
  background-image: url("../assets/waves_top/wave-mid.png");
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
  background-image: url("../assets/waves_top/wave-bot.png");
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

ion-header {
  &.header-md:after {
    background: none;
  }
}

.toolbar-text{
  font-family: Arial, serif;
  font-size: 45px;
  margin: 10px;
}

.toolbar-nav{
  font-family: Arial, serif;
  font-size: 30px;
}

@media only screen and (max-width: 450px) {
  .toolbar-text{
    font-size: 35px;
  }
  .waveWrapperInner {
    width: 1000%;
  }
}

@media only screen and (max-width: 1450px) {
  .waveWrapperInner {
    width: 350%;
  }
}

ion-header{
  border: none;
}

.header-ios ion-toolbar:last-of-type{
   --border-width: 0 0 0;
 }

ion-menu-toggle{
  --background: #1c7bca;
}



