<div style="padding-top: 150px"></div>
<ion-content>
    <ion-grid>
        <ion-row>
        <ion-col>
            <ion-title class="home-text" color="primary">Was ist der Sleeper Effekt?</ion-title><br>
            <ion-title class="home-text"  color="primary">Wie funktioniert Sleeper Effekt? </ion-title><br>
            <ion-title class="home-text"  color="primary">Welche Folgen hat der Sleeper Effekt?</ion-title><br>
            <ion-title class="home-text"  color="primary">Wiese gibt es den Sleeper Effekt?</ion-title><br>
            <ion-button color="primary">Hier Erfahren</ion-button>
        </ion-col>
                <ion-col>
                    <img src="assets/svg/undraw_Questions_re_1fy7.svg" alt="Kiwi standing on oval">
                </ion-col>
            </ion-row>
    </ion-grid>
</ion-content>