<div style="padding-top: 150px"></div>
<ion-content>
    <ion-grid>
        <ion-row>
        <ion-col>
            <ion-text>
            <h1 class="home-text">Was ist der Sleeper Effekt?</h1><br>
            <h1 class="home-text">Wie funktioniert Sleeper Effekt? </h1><br>
            <h1 class="home-text">Welche Folgen hat der Sleeper Effekt?</h1><br>
            <h1 class="home-text">Wiese gibt es den Sleeper Effekt?</h1><br>
            <ion-button [routerLink]="'/subjects'" color="primary">Hier Erfahren</ion-button>
            </ion-text>
        </ion-col>
                <ion-col>
                    <img src="assets/svg/undraw_Questions_re_1fy7.svg" alt="Kiwi standing on oval">
                </ion-col>
            </ion-row>
    </ion-grid>
</ion-content>